<header class="header">
  <div class="header-content">
    <div class="logo">
      <img src="assets/images/logo.jpeg" alt="logo" width="130px" height="50" />
    </div>
    <div class="vertical-line"></div>
    <div class="company-info">
      <h1 class="company-name">Rajesh Bheemanaboyena</h1>
      <p class="company-description">Full Stack Developer and System Design</p>
    </div>

    <nav>
      <ul>
        <li><a routerLink="/professional-summary">Professional Summary</a></li>

        <li>
          <div class="user-info">
            <div class="dropdown">
              <button class="dropdown-button">Technical Skills▼</button>
              <div class="dropdown-content">
                <a routerLink="professional-summary/system-design"
                  >System Architecture and Design</a
                >
                <a routerLink="pcd/technical/certificate"
                  >Data Structures and Algorithms</a
                >
                <a routerLink="pcd/technical/service"
                  >Multithreading and Multiprocessing</a
                >
                <a routerLink="pcd/technical/url"
                  >Database Development and Optimization</a
                >
                <a routerLink="pcd/technical/load-balancer">Cloud</a>
                <a routerLink="pcd/technical/database"
                  >Machine Learning and Data Analytics</a
                >
                <a routerLink="pcd/technical/load-balancer"
                  >Data Processing and Analysis</a
                >
                <a routerLink="pcd/technical/load-balancer"
                  >DevOps Environment and Automation</a
                >
              </div>
            </div>
          </div>
        </li>
        <li><a routerLink="/">About</a></li>
      </ul>
    </nav>
  </div>
</header>
