<!-- src/app/resume/resume.component.html -->
<div class="resume-container mt-[102px]">
  <div class="resume-container1">
    <div class="resume1">
      <div class="header">
        <h1>Rajesh Bheemanaboyena</h1>
        <p class="subtitle">Full Stack Developer</p>
        <div class="contact-info">
          <p>
            GitHub:
            <a
              href="https://github.com/rbheemanaboyena/python_lab"
              target="_blank"
            >
              https://github.com/rbheemanaboyena/python_lab</a
            >
          </p>
          <p>
            Linkedin:<a
              href="https://www.linkedin.com/in/f4345f5we"
              target="_blank"
            >
              https://www.linkedin.com/in/f4345f5we/</a
            >
          </p>
          <p>Email: bheemana18@gmail.com</p>
          <p>Phone: (314)-649-0021</p>
        </div>
      </div>
    </div>

    <div class="skills1">
      <h2>Experience</h2>
      <div #flameGraph></div>
    </div>
  </div>

  <div class="resume">
    <h3>Professional Summary</h3>
    <p>
      Having a solid education in computer science and 6+ years of experience as
      a Python and Golang Developer, proficient coder in multiple languages, and
      experience in designing, developing, and implementing Python, Django,
      Flask, and client-server technologies-based applications, RESTful
      services, AWS, lightweight servers, and databases. Innovative problem
      solver with strong research abilities and the ability to manage multiple
      functions simultaneously.
    </p>

    <div class="section">
      <h4>Key Points:</h4>

      <div class="subsection">
        <h4>System Architecture and Design:</h4>
        <p>
          I possess comprehensive expertise in system architecture and design,
          showcasing a strategic approach to crafting scalable and efficient
          solutions. Proficient in creating robust architectural designs, I
          excel in defining system components, their relationships, and
          interactions. My skills extend to creating detailed architectural
          diagrams, including use-case diagrams, activity flow diagrams, class
          diagrams, and object diagrams, ensuring a solid foundation during the
          design phase. With a focus on modularity, scalability, and
          maintainability, whether optimizing existing architectures or
          contributing to the creation of new systems, my proficiency in system
          architecture and design plays a role in delivering high-quality,
          well-structured software solutions.
        </p>
      </div>

      <div class="subsection">
        <h4>Data Structures and Algorithms Expertise:</h4>
        <p>
          I bring advanced knowledge in data structures and algorithms,
          showcasing a strong problem-solving aptitude and a commitment to
          optimizing system performance. Proficient in designing and
          implementing efficient data structures, I excel in analyzing problem
          complexities, selecting suitable algorithms, and applying established
          design patterns. With a keen understanding of Big-O analysis and
          continuous learning, I implement optimization strategies and employ
          code optimization techniques. I am experienced in implementing a range
          of data structures, participating in coding challenges, and
          collaborating effectively within cross-functional teams. Thorough
          documentation and active participation in code reviews reflect my
          commitment to delivering solutions that meet both functional and
          performance requirements.
        </p>
      </div>

      <div class="subsection">
        <h4>Multithreading and Multiprocessing Proficiency:</h4>
        <p>
          I bring in-depth expertise in multithreading and multiprocessing,
          demonstrating a robust understanding of concurrent programming
          principles. Proficient in designing and implementing efficient
          multithreaded and multiprocessing solutions, I optimize system
          performance by leveraging parallelism. With a keen eye for addressing
          challenges related to synchronization, thread safety, and resource
          management, I excel in creating scalable and responsive applications.
          My experience includes implementing concurrent designs, managing
          thread pools, and ensuring efficient utilization of system resources.
          Whether handling complex tasks or improving application
          responsiveness, my skills in multithreading and multiprocessing
          contribute to the development of high-performance, concurrent systems.
        </p>
      </div>

      <div class="subsection">
        <h4>Database Development and Optimization Proficiency:</h4>
        <p>
          I bring extensive expertise in database development and optimization,
          demonstrating a strong command of database design principles and
          optimization strategies. Proficient in developing, modifying, and
          optimizing SQL servers, I excel in scripting, stored procedure
          implementation, table design, and ensuring the integrity of database
          constraints. Elasticsearch index maintenance, asynchronous functions,
          and the implementation of periodic jobs, contributing to seamless
          database operations. With hands-on experience in cloud-based database
          services such as Amazon RDS, I am adept at managing databases
          efficiently on platforms like AWS. ETL operations or implementing data
          transformation tasks, my commitment to ensuring the performance and
          reliability of databases my contributions to robust, data-driven
          applications.
        </p>
      </div>

      <div class="subsection">
        <h4>Cloud Expertise:</h4>
        <p>
          I possess comprehensive expertise in cloud technologies, with a
          primary focus on AWS and Azure, showcasing proficiency in deploying
          and managing cloud-based solutions. In the AWS, I bring hands-on
          knowledge of services such as Amazon EC2, Amazon VPC, Amazon S3,
          Amazon Lambda,SQS<, SNS, Amazon RDS, AWS Auto Scaling, Amazon
          CloudWatch, and Elastic Load Balancing (ELB). Additionally, I have
          practical experience in Azure, ADF, Databricks, Storage accounts,
          Azure sql. My skills extend beyond AWS and Azure to include the
          integration of messaging systems, lightweight servers, and databases,
          contributing to the seamless operation of applications in cloud-based
          ecosystems. Whether architecting cloud-native applications or
          optimizing existing cloud environments, my expertise in ensuring the
          scalability, reliability, and efficiency of applications across
          diverse cloud platforms.
        </p>
      </div>

      <div class="subsection">
        <h4>Machine Learning and Data Analytics:</h4>
        <p>
          In machine learning and data analytics with a comprehensive skill set
          in applying advanced algorithms and statistical methodologies.
          Proficient in utilizing Python packages such as Scikit Learn, Pandas,
          NumPy, Matplotlib, Seaborn, and Plotly, I have hands-on experience in
          developing and deploying machine learning models. My expertise spans
          supervised and unsupervised learning, regression, and classification,
          including Linear Regression, Logistic Regression, K Nearest Neighbour,
          Decision Tree, and Random Forest. Additionally, I excel in
          interpreting complex problems and devising solutions through data
          analysis, data mining, and optimization tools. Whether working on data
          mining projects or implementing machine learning algorithms, my skills
          contribute to informed decision-making and actionable insights.
        </p>
      </div>

      <div class="subsection">
        <h4>Data Processing and Analysis:</h4>
        <p>
          I bring a robust skill set focused on transforming raw data into
          actionable insights. Proficient in leveraging tools such as AWS
          Snowflake for loading CSV files and executing queries, I ensure the
          accurate extraction, transformation, and loading (ETL) of diverse data
          sources. ETL operations, designing, processing for efficient data
          manipulation. optimizing SQL server administration, managing database
          maintenance, or performing data transformation tasks, my proficiency
          ensures robust data processing and analysis, contributing to informed
          decision-making and data-driven insights.
        </p>
      </div>

      <div class="subsection">
        <h4>DevOps Environment and Automation:</h4>
        <p>
          In DevOps practices and automation, driving continuous delivery and
          infrastructure enhancements. Proficient in utilizing tools such as
          Ansible, Kubernetes, and Docker, I streamline code deployment
          processes and facilitate seamless integration. Leveraging version
          control systems like GIT and CI/CD tools like Jenkins, I enhance
          development workflows to achieve efficient and reliable code delivery.
          Additionally, my experience extends to orchestrating workflows with
          Argo, deploying periodic tasks in both production and development
          environments. Whether collaborating on infrastructure changes or
          ensuring a smooth deployment pipeline, my skills in DevOps and
          automation contribute to an agile and robust development environment.
        </p>
      </div>

      <div class="section">
        <h3>TECHNICAL SKILLS</h3>

        <table class="skills-table">
          <tr>
            <th>Area of Expertise</th>
            <th>Skills</th>
          </tr>
          <tr>
            <td>System Architecture and Design</td>
            <td>
              UML, Architectural Diagrams, Design Patterns, System Design
              Fundamentals
            </td>
          </tr>
          <tr>
            <td>Data Structures and Algorithms</td>
            <td>Big-O Analysis, Design Patterns, Optimization Strategies</td>
          </tr>
          <tr>
            <td>Multithreading and Multiprocessing</td>
            <td>Concurrent Programming, Thread Pools, Resource Management</td>
          </tr>
          <tr>
            <td>Database Development and Optimization</td>
            <td>
              SQL, Amazon RDS, Elasticsearch, AWS, Cloud-based Databases,
              MongoDB, Redis, Database Indexing, Query Optimization
            </td>
          </tr>
          <tr>
            <td>Cloud Expertise (AWS, Azure)</td>
            <td>
              AWS (EC2, VPC, S3, Lambda, SQS, SNS, RDS, CloudWatch, ELB), Azure
              (ADF, Databricks, Storage accounts, Azure SQL)
            </td>
          </tr>
          <tr>
            <td>Machine Learning and Data Analytics</td>
            <td>
              Python (Scikit Learn, Pandas, NumPy, Matplotlib, Seaborn, Plotly),
              Supervised and Unsupervised Learning, Regression, Classification,
              TensorFlow, PyTorch
            </td>
          </tr>
          <tr>
            <td>Data Processing and Analysis</td>
            <td>
              AWS Snowflake, ETL Operations, SQL Server Administration, Data
              Transformation, Apache Spark, Pandas
            </td>
          </tr>
          <tr>
            <td>DevOps Environment and Automation</td>
            <td>
              Ansible, Kubernetes, Docker, GIT, Jenkins, Argo, Azure DevOps,
              CI/CD
            </td>
          </tr>
        </table>
      </div>

      <div class="project-details">
        <h3>Project 1 - Caremore, LA, CA</h3>
        <p class="duration">Aug 2021 - Till Date</p>
        <p class="role">Full Stack Python Developer</p>

        <h3>Responsibilities:</h3>
        <ul>
          <li>Application Performance Monitoring (APM):</li>
          <ul>
            <li>
              Development of Python and Golang agents for APM to collect
              performance metrics.
            </li>
            <li>
              Agents to adeptly collect performance metrics from a spectrum of
              services, including Linux, PostgreSQL, MySQL, Redis, Kafka, Nginx,
              and Kubernetes.
            </li>
            <li>
              Development of Python distributed tracing agents aligned with the
              OpenTracing standard, effectively instrumenting various services
              such as SQL, Elasticsearch, Celery, external APIs, Redis, Kafka,
              and PostgreSQL.
            </li>
            <li>
              Established robust pipelines for the seamless transfer of trace
              data from source VMs to Elasticsearch databases.
            </li>
            <li>
              Enhanced the elastic Python tracing agent to accommodate
              asynchronous transactions in Kafka, demonstrating a deep
              understanding of APM in dynamic environments.
            </li>
            <li>
              Derived comprehensive Tracing Transaction and Service Maps from
              trace data, augmenting the monitoring and response capabilities of
              the system.
            </li>
            <li>
              Played a pivotal role in resolving Elasticsearch mapping and
              cluster load issues, showcasing a keen problem-solving acumen.
            </li>
            <li>
              Successfully supported the operation of multiple production
              environments, encompassing micro-services, AWS containers, AWS
              Lambda, and Azure.
            </li>
            <li>
              Led the architectural design of Java and Golang Tracing agents,
              coupled with the creation of a UI flame graph for transparently
              displaying application transactions.
            </li>
            <li>
              Actively participated in creating Transaction Alerts, further
              enhancing the system's ability to proactively respond to critical
              events.
            </li>
            <li>
              Proficiently worked on AWS Database services, including Amazon RDS
              and Amazon EC2, SQS, Lambda, SNS, and S3, addressing various
              database-related challenges like query blocks, deadlocks, and
              timeouts.
            </li>
            <li>
              Contributed to the development of a custom Django dashboard,
              leveraging NumPy for numerical analysis, to deliver an optimized
              and user-friendly interface for end-users.
            </li>
            <li>
              Demonstrated expertise in deploying applications on Openshift and
              utilizing Django for multiple app developments, including
              configuration management and integration with Celery.
            </li>
            <li>
              Automated infrastructure activities using Ansible playbooks,
              integrating with Run deck and Jenkins, and Dockerized Python
              scripts and applications for efficient deployment.
            </li>
            <li>
              Created manifest files and Helm charts for deploying applications
              on Kubernetes, showcasing proficiency in container orchestration
              and deployment scalability.
            </li>
            <li>
              Developed frontend and backend API modules using Python on the
              Flask Web Framework, embodying a comprehensive approach to
              full-stack development.
            </li>
            <li>
              Implemented Extract, Transform, Load (ETL) processes on the Azure
              platform, showcasing versatility in cloud-based data integration
              solutions.
            </li>
            <li>
              Utilized the Angular framework to develop dynamic and responsive
              user interfaces, enhancing the overall user experience in web
              applications.
            </li>
            <!-- Add more points as needed -->
          </ul>
        </ul>

        <h3>Technologies Used:</h3>
        <p>
          Python, Django, Flask, Shell Scripting, Testing, AWS services (S3,
          SQS, SNS, Lambda), Pandas, Flash, DOM, JSON, PHP, HTML5, CSS3,
          JavaScript, APIs, Nginx, Apache Web Server, MySQL, GitHub, Gitlab,
          Linux, Docker, Kubernetes, Proofpoint, Assemble Line.
        </p>
      </div>

      <div class="project-details">
        <h3>Project 2 - Waste Management, Huston, TX</h3>
        <p class="duration">Aug 2019 - July 2021</p>
        <p class="role">Sr Python Developer</p>

        <h3>Responsibilities:</h3>
        <ul>
          <li>ML Project Orchestration:</li>
          <ul>
            <li>
              Contributed to the development of an Event-Driven Design
              application, showcasing proficiency in architecting systems based
              on asynchronous event handling.
            </li>
            <li>
              Developed web-based applications using a comprehensive tech stack,
              including Python, CSS, HTML, JavaScript, Angular, and jQuery.
            </li>
            <li>
              Engaged in various testing phases, including Unit testing,
              Integration testing, User-Acceptance testing, load testing, and
              Functional testing, ensuring the reliability and performance of
              applications.
            </li>

            <li>
              Demonstrated hands-on experience with AWS services such as Lambda
              functions, SQS, SNS, CloudWatch logs, AWS Secret Managers, and
              DynamoDB.
            </li>
            <li>
              Worked on Amazon Elastic Compute Cloud (EC2), Amazon Virtual
              Private Cloud (VPC), Amazon Simple Storage Service (S3), Amazon
              Load Balancers, Amazon Elastic Block Store (EBS), and Lambda.
            </li>

            <li>
              Implemented machine learning models for image processing,
              showcasing expertise in AI and ML applications. - Proficiently
              worked with multithreading and multiprocessing, demonstrating the
              ability to optimize performance through parallel processing.
            </li>
            <li>
              Experience in snowflake data loading using Python, showcasing
              proficiency in data warehousing solutions.
            </li>

            <li>
              Utilized Python, Jupyter, and the Scientific computing stack
              (NumPy, SciPy, pandas, Matplotlib) for data analysis and
              visualization.
            </li>
            <li>
              Extensively worked with Avro and Parquet files, converting data
              between formats.
            </li>

            <li>
              Parsed Semi-Structured JSON data and converted it to Parquet using
              DataFrames in PySpark.
            </li>
            <li>
              Identified and resolved issues in Python applications, deploying
              bug fixes and contributing to the reliability of critical data
              sources.
            </li>

            <li>
              Utilized Django for web development, interfacing with jQuery UI,
              and managing content storage and deletion.
            </li>
            <li>
              Designed and managed API system deployment using a fast HTTP
              server and Amazon AWS architecture, showcasing expertise in
              scalable and efficient API design.
            </li>

            <li>
              Worked on Elasticsearch, resolving mapping issues and optimizing
              cluster load.
            </li>
            <li>
              Designed and maintained databases using Python, developed
              Python-based RESTful Web Services using Flask and PostgreSQL.
            </li>

            <li>
              Managed code versioning with GitHub and BitBucket, ensuring
              efficient collaboration. - Implemented MVC architecture using the
              Django framework in web application development.
            </li>
            <li>
              Implemented Extract, Transform, Load (ETL) processes on the Azure
              platform, showcasing versatility in cloud-based data integration
              solutions.
            </li>
            <li>
              Deployed applications to staging and production servers,
              showcasing proficiency in end-to-end software development and
              deployment processes.
            </li>
            <li>
              Designed and developed systems to efficiently handle asynchronous
              events and real-time data flow. Ensured seamless communication and
              coordination between different components through event-driven
              patterns.
            </li>
            <li>
              Utilized event-driven architectures to enhance scalability,
              responsiveness, and maintainability of applications. Orchestrated
              the flow of events to enable decoupled and loosely-coupled
              components, promoting flexibility and ease of maintenance.
            </li>
            <li>
              Integrated event-driven paradigms to enable efficient handling of
              real-time updates and notifications.
            </li>
            <!-- Add more points as needed -->
          </ul>
        </ul>

        <h3>Technologies Used:</h3>
        <p>
          Python 3.4/2.7, Django 1.7, HTML5, CSS, jQuery, JSON, Snowflake,
          JavaScript, PostgreSQL, Elasticsearch, Dynamodb, SQS, SNS, AWS lambda,
          AWS S3, GitLab, JIRA.
        </p>
      </div>

      <div class="project-details">
        <h3>Project 3 - Splunk, San Francisco, CA</h3>
        <p class="duration">March 2018 - July 2019</p>
        <p class="role">Python Developer</p>

        <h3>Responsibilities:</h3>
        <ul>
          <li>Internal Project:</li>
          <ul>
            <li>
              Implemented and optimized Argo Workflows to orchestrate complex
              workflows, enhancing automation and efficiency in task execution.
            </li>
            <li>
              Designed and deployed Argo Workflows for managing and coordinating
              containerized tasks within Kubernetes clusters.
            </li>

            <li>
              Utilized Argo Workflows to streamline and automate data
              processing, ensuring a seamless and error-resistant workflow
              execution. Integrated Argo Workflows with other tools and systems
              to create end-to-end automated processes, enhancing overall system
              reliability.
            </li>
            <li>
              Played a pivotal role in the entire project life cycle,
              contributing to design, development, implementation, and
              verification/validation phases.
            </li>

            <li>
              robust Python/Django-based web application for sales data
              processing, utilizing MySQL. Employed HTML, CSS, jQuery,
              HighCharts, and Matplotlib for insightful data visualization,
              enabling effective sales tracking and trend identification.
            </li>
            <li>
              Played a key role in designing, building, and deploying NoSQL
              implementations, specifically MongoDB, highlighting versatility in
              database technologies.
            </li>

            <li>
              Integrated Amazon AWS S3 and RDS support for hosting static/media
              files and databases in the Amazon Cloud environment, demonstrating
              cloud computing expertise.
            </li>
            <li>
              Conducted thorough code reviews using GitHub pull requests,
              elevating code quality, and fostering effective team collaboration
              through regular meetings.
            </li>
            <li>
              Implemented PL/SQL views, stored procedures, database triggers,
              and packages to optimize database performance.
            </li>
            <li>
              Enhanced functionality by integrating Python XML SOAP
              request/response handlers, enabling account additions, trade
              modifications, and security updates.
            </li>

            <li>
              Conducted comprehensive testing methodologies, including unit
              testing, integration testing, GUI testing using Pytest, and web
              application testing using Selenium Python bindings.
            </li>
            <li>
              Implemented and optimized DevOps practices, streamlining
              collaboration between development and operations teams, resulting
              in more efficient and reliable software delivery.
            </li>
            <li>
              Orchestrated CI/CD pipelines to automate the build, testing, and
              deployment processes, ensuring rapid and consistent delivery of
              software updates.
            </li>
            <li>
              Utilized configuration management tools and containerization
              (e.g., Docker) to enhance infrastructure scalability, reliability,
              and deployment consistency in a DevOps environment.
            </li>
            <!-- Add more points as needed -->
          </ul>
        </ul>

        <h3>Technologies Used:</h3>
        <p>
          Python, Django, HTML5, CSS, jQuery, JSON, JavaScript, PostgreSQL,
          MongoDB, MySQL, Amazon AWS S3, JIRA.
        </p>
      </div>

      <div class="project-details">
        <h3>Project 4 - Standalone IT Solutions, Hyderabad.</h3>
        <p class="duration">Aug 2017 - Feb 2018</p>
        <p class="role">Python Developer</p>

        <h3>Responsibilities:</h3>
        <ul>
          <li>Internal Project:</li>
          <ul>
            <li>
              Contributed to the full software development life cycle,
              collaborating on design, development, testing, and deployment of
              Python-based applications.
            </li>
            <li>
              Developed and maintained web applications using Python frameworks
              like Django or Flask, focusing on server-side logic, UI
              enhancements, and seamless functionality.
            </li>

            <li>
              Wrote clean, efficient, and well-documented Python code, adhering
              to best practices and coding standards for various modules and
              functionalities.
            </li>
            <li>
              Integrated Python applications with relational databases (e.g.,
              PostgreSQL, MySQL), crafting queries and optimizing interactions
              for improved performance.
            </li>

            <li>
              robust Python/Django-based web application for sales data
              processing, utilizing MySQL. Employed HTML, CSS, jQuery,
              HighCharts, and Matplotlib for insightful data visualization,
              enabling effective sales tracking and trend identification.
            </li>
            <li>
              Designed and implemented RESTful APIs, ensuring proper data
              exchange between servers and client applications, enhancing system
              interoperability.
            </li>

            <li>
              Integrated Amazon AWS S3 and RDS support for hosting static/media
              files and databases in the Amazon Cloud environment, demonstrating
              cloud computing.
            </li>
            <li>
              Utilized version control systems, such as Git, for collaborative
              development, managing code repositories, and ensuring code
              versioning and traceability.
            </li>
            <li>
              Implemented unit tests to validate Python code functionality,
              contributing to a robust testing culture and ensuring software
              reliability.
            </li>
            <li>
              Identified and resolved software bugs and issues, participating in
              debugging sessions and collaborating with team members to enhance
              code quality.
            </li>

            <li>
              Worked in an Agile development environment, contributing to sprint
              planning, stand-ups, and retrospective meetings for efficient
              project management.
            </li>
            <li>
              Created and maintained technical documentation, including code
              comments and API documentation, facilitating knowledge transfer
              among team members.
            </li>
            <!-- Add more points as needed -->
          </ul>
        </ul>

        <h3>Technologies Used:</h3>
        <p>
          Python, Django, jQuery, JSON, PostgreSQL, MySQL, AWS services, JIRA.
        </p>
      </div>
    </div>
  </div>
</div>
